/*
 *Name: [Griffin Curtis]
 *UnityID: [gacurti3]
 *Date: [2/17/2019]
 *Assignment: [IA 5]
 *Description: [HTML and Styling]
 */

body {
	background-color: #9683EC;


  }




.Image {

	max-width: 200px;
	max-height: 250px;
	border: 2px outset #008000

	}





#mydata {

	border: 2px solid #4B0082;
       
       }