/*
 *Name: [Griffin Curtis]
 *UnityID: [gacurti3]
 *Date: [2/17/2019]
 *Assignment: [IA 5]
 *Description: [HTML and Styling]
 */

body {
	background-color: #fefbd8;


  }




#table {

	border: 1px #000000;

	}





.class {

	property: value ;
       
       }